BASE_URL = 'https://api.openai.com/v1' #https://api.openai.com/v1/chat/completions
API_KEY = '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'